@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Jardín Dream Home Kindergarten

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #29a9e0;
$secondary_color: #eb1e79;
$tertiary_color: #ffff00;
$fourth_color: #8ac43f;
$fifth_color: #f7941d;
$sixth_color: #f26d7d;
$seventh_color: #0071ba;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
	font-family: 'Sniglet Regular';
	src: url(fonts/Sniglet-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		/*family: 'Roboto Condensed', sans-serif;*/
		family: 'Sniglet Regular';
		size: 18px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Sniglet Regular';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background: {
		image: url(top_bg.png);
		position: top;
		repeat: no-repeat;
		size: 100%;
	}
}

/* Top Over */

.top_over {
	margin-top: -100px;
	background: {
		image: url(top_over_bg.png);
		position: 0 20px;
		repeat: repeat-x;
	}
	position: relative;
	z-index: 1;
	.a {
		margin-bottom: 10px;
		img {
			width: 180px
		}
	}
	.c {
		margin-top: -160px;
		position: relative;
		img {
			 width: 80px;
		}
	}
}

/* Content */

.content {
	padding-bottom: 30px;
	.c {
		h2.title {
			margin-bottom: 20px;
			font-size: 18px;
			color: $secondary_color;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 30px;
	.z {
		h2.title {
			margin-bottom: 20px;
			font-size: 20px;
			color: $secondary_color;
		}
	}
	.a,
	.b,
	.c,
	.d {
		.item {
			overflow: hidden;
			position: relative;
			&:hover {
				.item-overlay {
					top: 0;
				}
			}
			.item-overlay {
				width: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				overflow: hidden;
				position: absolute;
				-moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
				-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
				transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
				top: 305px;
				h3 {
					margin: 10px 0;
					font-size: 18px;
					color: #fff;
				}
				p {
					padding: 0 10px;
					font-size: 14px;
					color: #fff;
				}
			}
		}
	}
	.a {
		.item {
			.item-overlay {
				background-color: rgba(241, 109, 124, 0.9);
			}
		}
	}
	.b {
		.item {
			.item-overlay {
				background-color: rgba(146, 39, 143, 0.9);
			}
		}
	}
	.c {
		.item {
			.item-overlay {
				background-color: rgba(189, 62, 196, 0.9);
			}
		}
	}
	.d {
		.item {
			.item-overlay {
				background-color: rgba(247, 182, 17, 0.9);
			}
		}
	}
}

/* Block 2 */

.block_2 {
	background: {
		image: url(block_2_bg.png);
		position: center 115px;
		repeat: repeat-x;
	}
	.b {
		h2.title {
			margin-bottom: 20px;
			font-size: 20px;
			color: $secondary_color;
		}
		p {
			&.blank {
				color: #fff;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	margin-bottom: 30px;
	padding: 30px;
	background-color: $primary_color;
	.a {
		h2.title {
			margin-bottom: 10px;
			font-size: 22px;
			color: $tertiary_color;
		}
		p {
			margin: 0;
			font-size: 22px;
			color: #fff;
		}
		a.button {
			margin: 0;
			padding: 10px 20px;
			bottom: -20px;
			background-color: $secondary_color;
			border-radius: 0;
			font-size: 22px;
			position: relative;
		}
	}
	.b {
		h3 {
			margin: 0;
			padding: 10px 0;
			background: {
				image: url(pop_up_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 20px;
			color: $primary_color;
		}
		#form {
			max-width: 425px;
			margin: auto;
			padding: 25px 20px;
			background: {
				image: url(pop_up_form_bg.png);
				position: center;
				repeat: no-repeat;
				size: 100% 100%;
			}
			input {
				margin-bottom: 10px;
			}
			button {
				margin: 0;
				padding: 10px 20px;
				background-color: $tertiary_color;
				border-radius: 0;
				font-size: 18px;
				color: $secondary_color;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.a {
		padding-bottom: 10px;
		border-bottom: 1px solid $fourth_color;
		h2.title {
			margin-bottom: 10px;
			background: {
				image: url(block_4_h2_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 22px;
			color: $fourth_color;
		}
	}
}

/* Block 5 */

.block_5 {
	padding-bottom: 30px;
	.a,
	.b,
	.c,
	.d {
		img {
			width: 45px;
		}
		h3 {
			margin-bottom: 10px;
			font-size: 22px;
		}
		p {
			font-size: 14px;
			color: #a0a0a0;
			a {
				color: #a0a0a0;
			}
		}
	}
	.a {
		h3 {
			color: $fifth_color;
		}
	}
	.b {
		h3 {
			color: $primary_color;
		}
	}
	.c {
		h3 {
			color: $fourth_color;
		}
	}
	.d {
		h3 {
			color: $sixth_color;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $seventh_color;
	font-size: 14px;
	color: #fff;
	a {
		color: #fff;
	}
	.b {
		a.button {
			margin: 0;
			padding: 5px 20px;
			border: {
				color: #fff;
				radius: 0;
			}
			color: #fff;
		}
	}
	.c {
		padding-top: 10px;
		font-size: 12px;
	}
}

/* Pop Up */

.pop_up {
	min-width: 525px;
	margin: auto;
	padding-top: 235px;
	background: {
		image: url(pop_up_bg.png);
		position: top;
		repeat: no-repeat;
		size: 100%;
	}
	display: none;
	.a {
		h3 {
			margin: 0;
			padding: 10px 0;
			background: {
				image: url(pop_up_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 20px;
			color: $primary_color;
		}
		#form {
			max-width: 425px;
			margin: auto;
			padding: 25px 20px;
			background: {
				image: url(pop_up_form_bg.png);
				position: center;
				repeat: no-repeat;
				size: 100% 100%;
			}
			input {
				margin-bottom: 10px;
			}
			button {
				margin: 0;
				padding: 10px 20px;
				background-color: $tertiary_color;
				border-radius: 0;
				font-size: 18px;
				color: $secondary_color;
			}
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		padding-bottom: 20px;
		background-size: cover;
		.b {
			img {
				width: 160px;
			}
		}
	}

	/* Block 1 */

	.block_1 {
		.a,
		.b,
		.c,
		.d {
			.item {
				margin-bottom: 10px;
				.item-overlay {
					position: initial;
				}
			}
		}
	}

	/* Block 2 */

	.block_2 {
		background: none;
		.b {
			p {
				&.blank {
					padding: 5px;
					background-color: $fourth_color;
					text-align: center;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}