@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Jardín Dream Home Kindergarten

File:			app_1.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #29a9e0;
$secondary_color: #eb1e79;
$tertiary_color: #faba22;
$fourth_color: #f9e5b8;
$fifth_color: #ffff00;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
	font-family: 'Sniglet Regular';
	src: url(fonts/Sniglet-Regular.otf);
}

@font-face {
	font-family: 'Kaushan Script Regular';
	src: url(fonts/KaushanScript-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: {
		color: rgba(249, 229, 184, 0.5);
		image: url(bg.png);
		position: center 210px;
		repeat: no-repeat;
	}
	font: {
		/*family: 'Roboto Condensed', sans-serif;*/
		family: 'Sniglet Regular';
		size: 18px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Sniglet Regular';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background: {
		image: url(top_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_to1 {}
	.moduletable_to2 {
		padding-top: 60px;
	}
	.moduletable_to3 {
		padding-top: 80px;
	}
}

/* Block 1 */

.block_1 {
	margin-top: -50px;
	padding: 60px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
	}
	position: relative;
	.moduletable_bl1 {
		font-size: 34px;
		color: #fff;
		.title_1 {
			background: {
				image: url(block_1_title_1_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
		.title_2 {
			background: {
				image: url(block_1_title_2_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	.moduletable_bl2 {
		margin: 5px;
		background-color: #fff;
		h3 {
			margin: 0;
			padding: 5px 0;
			font-size: 24px;
			color: #fff;
			&.yellow {
				background-color: $tertiary_color;
			}
			&.blue {
				background-color: $primary_color;
			}
		}
		.content {
			padding: 10px;
			h4 {
				min-height: 56px;
				font-size: 20px;
				color: $secondary_color;
			}
			ul {
				margin-bottom: 0;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 20px 0;
	.moduletable_bl3 {
		h3 {
			margin: 0;
			background: {
				image: url(block_3_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 34px;
			color: #fff;
			position: relative;
			z-index: 2;
		}
		.content {
			margin-top: -23px;
			padding: 30px 10px;
			background-color: #fff;
			position: relative;
			z-index: 1;
			.time {
				color: $secondary_color;
			}
			.price {}
		}
		h4 {
			margin: 0;
			margin-top: -15px;
			background: {
				image: url(block_3_h4_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 24px;
			color: #fff;
			position: relative;
			z-index: 2;
		}
		h2 {
			margin: 0;
			font: {
				family: 'Kaushan Script Regular';
				size: 54px;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 60px 0;
	background: {
		image: url(block_4_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_bl4 {
		padding: 0 80px;
		background: {
			image: url(block_4_form_bg.png);
			position: top;
			repeat: no-repeat;
		}
		h3 {
			margin: 0;
			background: {
				image: url(block_4_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 26px;
		}
		#form {
			margin-top: 60px;
			.button {
				margin-top: 30px;
				background-color: $fifth_color;
				border-radius: 0;
				color: $secondary_color;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: #26a8d1;
	.moduletable_bo1 {
		font-size: 20px;
		color: #fff;
		a {
			margin: 0;
			font-size: 20px;
			color: #fff;
			&.button {
				padding: 5px 20px;
				border-color: #fff;
				border-radius: 0;
			}
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			padding-top: 20px;
		}
		.moduletable_to3 {
			padding-top: 20px;
		}
	}

	/* Block 1 */

	.block_1 {
		margin-top: 0;
		padding: 20px 0;
		.moduletable_bl1 {
			font-size: 20px;
			.title_1 {
				padding: 10px;
				background: {
					color: $primary_color;
					image: none;
				}
			}
			.title_2 {
				padding: 10px;
				background: {
					color: $secondary_color;
					image: none;
				}
			}
		}
	}

	/* Block 2 */

	.block_2 {
		.moduletable_bl2 {
			.content {
				h4 {
					min-height: inherit;
				}
			}
		}
	}

	/* Block 3 */

	.block_3 {
		.moduletable_bl3 {
			h3 {
				padding: 5px 0;
				background: {
					color: $secondary_color;
					image: none;
				}
				font-size: 20px;
			}
			h4 {
				padding: 5px 0;
				background: {
					color: $primary_color;
					image: none;
				}
				font-size: 16px;
			}
			h2 {
				margin-top: 10px;
				font-size: 30px;
			}
		}
	}

	/* Block 4 */

	.block_4 {
		.moduletable_bl4 {
			padding: 0 10px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}